

<!DOCTYPE html>
<html lang="en">
<title>My Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap" rel="stylesheet">

<style>
.w3-row.custom-flex  {display: inline-flex; flex-wrap: wrap;}
.w3-row.custom-flex.flex > .w3-col {flex: 1 0 290px;}
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

    <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#benkimim" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Ben Kimim</a>
        <a href="#github" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Github </a>
        <a href="#iletisim" class="w3-bar-item w3-button w3-padding-large w3-hide-small">İletişim</a>
    </div>
    </div>

    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#benkimim" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Ben Kimim</a>
        <a href="#github" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Github</a>
        <a href="#iletisim" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">İletisim</a>
        </div>

    <div class="w3-container w3-content w3-center w3-padding-36" style="max-width:800px;margin-top:64px" id="benkimim" markdown=1>         
            <%-resume%>
        <div class="w3-row w3-padding-18">
        <div class="w3-center">
            <img src="./images/photo.jpeg" class="w3-round w3-margin-bottom w3-center" alt="Random Name" style="width:40%">
        </div>
        </div>
    </div>
    
    <div class="w3-content" style="max-width:2000px;margin-bottom:36px;">
        <div class="mySlides w3-display-container w3-center">
            <h3>“We shape our buildings, thereafter they shape us.”</h3>
            <p><b>Winston Churchill</b></p>   
            
        </div>
        <div class="mySlides w3-display-container w3-center">
            <h3>“As engineers, we were going to be in a position to change the world- not just study it.”</h3>
            <p><b>Henry Petroski</b></p>    
    
        </div>
        <div class="mySlides w3-display-container w3-center">
            <h3>“The way to succeed is to double your failure rate.”</h3>
            <p><b>Thomas Watson Jr.</b></p>    
    
        </div>
    </div>

    <div class="w3-black" id="github">
        <div class="w3-container w3-content w3-padding-32" >
        <h2 class="w3-wide w3-center">Github</h2>
        <p class="w3-opacity w3-center"><i>Gözatabilirsin!</i></p><br>
        <div class="w3-row custom-flex w3-row-padding  ">
            <div class="w3-third w3-padding-32" style="text-align: center ; ">
                <div class="w3-hover-border-grey w3-padding-24 w3-white" style="border-radius:30px; border: 10px solid #FFFFFF ;" onclick="golink(url)">
                    <img id = "make-image0" src="" alt="New York" style="width:50%; height: 30%; border-radius: 25px" class="w3-hover-opacity w3-margin" onError="this.src='../images/confused_developer_resized.png';">
                    <div class="w3-container w3-white">
                        <p><b id = "name0"> </b></p>
                        <p id = "date0" class="w3-opacity"></p>
                        <p id = "des0" style="min-height: 100px;"></p>
                        <button class="w3-button w3-black w3-margin-bottom w3-padding-16" style="border-radius: 32px" onclick="golink(url)">Linke git</button>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-padding-32  " style="text-align: center; ">
                <div class="w3-hover-border-grey w3-padding-24 w3-white" style="border-radius:30px; border: 10px solid #FFFFFF ;" onclick="golink(url1)">
                    <img id = "make-image1" src="" alt="Paris" style="width:50%; height: 30%; border-radius: 25px " class="w3-hover-opacity w3-margin" onError="this.src='../images/confused_developer_resized.png';">
                    <div class="w3-container w3-white">
                        <p><b id = "name1"> </b></p>
                        <p id = "date1" class="w3-opacity"></p>
                        <p id = "des1" style="min-height: 100px;"></p>
                        <button class="w3-button w3-black w3-margin-bottom w3-padding-16" style="border-radius: 32px" onclick="golink(url1)">Linke git</button>
                    </div>
                </div>
            </div>
            <div class="w3-third w3-padding-32 " style="text-align: center; ">
                <div class="w3-hover-border-grey w3-padding-24 w3-white" style="border-radius:30px; border: 10px solid #FFFFFF ;" onclick="golink(url2)">
                    <img id = "make-image2" src="" alt="San Francisco" style="width:50%; height: 30%; border-radius: 25px" class="w3-hover-opacity w3-margin" onError="this.src='../images/confused_developer_resized.png';">
                    <div class="w3-container w3-white">
                        <p><b id = "name2"> </b></p>
                        <p id = "date2" class="w3-opacity"></p>
                        <p id = "des2" style="min-height: 100px;"></p>
                        <button class="w3-button w3-black w3-margin-bottom w3-padding-16" style="border-radius: 32px" onclick="golink(url2)">Linke git</button>
                    </div></div>
            </div>
        </div>
        </div>
    </div>
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="iletisim">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <h2 class="w3-wide w3-center">İletişim Kur</h2>
        <p class="w3-opacity w3-center"><i>Gönder Gelsin</i></p>
        <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> Muğla, TR<br>
            <i class="fa fa-phone" style="width:30px"></i> -<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: halim.ceylan8@gmail.com<br>
        </div>
        <div class="w3-col m6">
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <form id="mailSection" onsubmit={sendMail()} >
                <div class="w3-half">
                    <label for="name">Name</label><br>
                    <input id = "name" class="w3-input w3-border" type="text" placeholder="Full Name" required name="Name">
                    </div>
                    <label for="mail">Your Email</label><br>
                    <div class="w3-half">
                    <input id = "mail" class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                    </div>
                    <label for="mailmessage">Your Message</label><br>
                    <input id="mailmessage" class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <input id="submitBtn" class="w3-button w3-black w3-section w3-right" type="submit" value="Submit"></button>
                    <input id="resetBtn" class="w3-button w3-black w3-section w3-left" type="reset" value="Reset"></button>
            </form>
            </div>
            <script>
                var form = document.getElementById("mailSection");
                function handleForm(event) { event.preventDefault(); } 
                form.addEventListener('submit', handleForm);
            </script>

            <div class="g-recaptcha" data-sitekey="6LeT34ceAAAAAEg4H3rYIrPF4yoMkvZZ1CQiwuqo"></div>
            <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
            </script>
            <script type="text/javascript">
            (function(){
                emailjs.init("user_e8xCHWu1s2nDC0ySNvUv0");
            })(); 
            function sendMail(){
            if (grecaptcha.getResponse() == ""){
                alert("please verify you are not a robot!");
                return false;
            } else {
            var templateParams = {
            name : document.getElementById("name").value,
            mail: document.getElementById("mail").value,
            message: document.getElementById("mailmessage").value,
            };
            emailjs.send('my_website', 'template_j9cxvof', templateParams)
            .then(function(response) {
            console.log('SUCCESS!', response.status, response.text);
            }, function(error) {
            console.log('FAILED...', error);
            });
            return false;
            }
            
}
            </script>
            
        </div>
        
        </div>
    </div>
    
    </div>


    <footer class="w3-container w3-center w3-opacity w3-xlarge">
        <div class="attendee_bottom">
            <p style="margin-bottom: 20px;margin-top: 40px;">Contact Me</p>
            <div class="reference-icons" style="padding-bottom: 60px;">
            <a href="https://www.linkedin.com/in/halim-ceylan-36b55a1b2/" class="icon" target="_blank" ><img src="https://st1.zoom.us/static/94172/image/new/home/IconLinkedIn.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/halimceylan" class="icon" target="_blank"><img style="width:36px; height: 36px;margin-left: 5px;" src="https://st3.zoom.us/static/94172/image/new/home/IconInstagram.png" alt="Instagram"></a>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
            </div>
        </div>
    </footer>
    
    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
    }

    function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
    } 
    </script>
        <script>
            var my_repo = <%-JSON.stringify(my_repos)%>;
            const myObj = JSON.parse(my_repo);
            url = myObj[0]["url"];
            url1 = myObj[1]["url"];
            url2 = myObj[2]["url"];       
            function golink(url){window.open(url)}
            function push(){
            for(let i = 0; i <= 2; i++){
            document.getElementById("name" + i).innerHTML=myObj[i]["name"];
            document.getElementById("date" + i).innerHTML=new Date(myObj[i]["date"]).toDateString() 
            document.getElementById("des" + i).innerHTML=myObj[i]["description"];
            document.getElementById('make-image' + i).src="https://cdn.jsdelivr.net/npm/programming-languages-logos/src/" + myObj[i]["lang"].toLowerCase() + "/" + myObj[i]["lang"].toLowerCase() + ".png";
            }
            }
            window.onload = function() {
                push();
            }
        </script>
    </body>
</html>